---
import type { languageList } from "@/i18n/ui";
import Section from "../Section.astro";
import { useTranslations } from "@/i18n/utils";

const currentLocale = Astro.currentLocale || "es";

const translateUI = useTranslations(currentLocale as keyof typeof languageList);

const { title } = translateUI('about') as { title: string };

const { summary } = Astro.props;
---

<Section className={Astro.props.className}  title={title}>
	<p class="print:italic print:text-sm">
		{summary}
	</p>
</Section>

<script>
	// Detecta si el usuario está imprimiendo
	if (typeof window !== "undefined") {
		window.onbeforeprint = function () {
			const titleElement = document.querySelector("h3");
			if (titleElement) {
				titleElement.classList.add('print:hidden');
			}
		};
		window.onafterprint = function () {
			const titleElement = document.querySelector("h3");
			if (titleElement) {
				titleElement.classList.remove('print:hidden');
			}
		};
	}
</script>


