---
import Theme from "@/icons/themeSwitch.astro";
---

<div class="no-print inline-flex items-center gap-4">
	<div class="group flex items-center gap-2">
		<label for="themeSwitch" class="cursor-pointer flex items-center gap-1 text-sm font-medium leading-6 text-skin-base group-hover:rotate-45 transition-transform ease-in-out">
			<Theme />
		</label>
		<select
			id="themeSwitch"
			name="themeSwitch"
			class="w-auto cursor-pointer rounded-md bg-skin-fill text-skin-base border py-1.5 pl-3 pr-10 focus:ring-2 focus:ring-skin-hue focus:outline-none sm:text-sm"
			aria-label="Theme Selector"
		>
			<option value="system">System</option>
			<option value="dark">Dark</option>
			<option value="light">Light</option>
		</select>
	</div>

	<style>
		select option:hover {
			@apply bg-skin-hue;
		}

		:global(.dark) {
			color-scheme: dark;
		}


	</style>

	<script>
		const label = document.querySelector("label") as HTMLLabelElement;
		const select = document.getElementById("themeSwitch") as HTMLSelectElement;
		const theme = localStorage.getItem("theme");
		const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";

		if (theme !== null) {
			select.value = theme;
		} else {
			select.value = systemTheme;
		}

		function updateTheme(value: string) {
			const theme = value === "system" ? systemTheme : value;
			document.documentElement.classList.remove("light", "dark");
			document.documentElement.classList.add(theme);
			localStorage.setItem("theme", value);
		}

		updateTheme(select.value);

		select.addEventListener("change", (event: Event) => {
			const select = event.target as HTMLSelectElement;
			updateTheme(select.value);
		});
	</script>
</div>
